 /* :root[data-theme="light"] {
    --text: #0e1616;
    --background: #f9fbfb;
    --primary: #2d6b6c;
    --secondary: #7dd2d4;
    --accent: #37c6c8;
  } */
  :root
  /* [data-theme="dark"]  */
  {
    --text: #e9f1f1;
    --background: #040606;
    --primary: #93d1d2;
    --secondary: #2b8182;
    --accent: #37c6c8;
  }

  footer{
    width: 100%;
    height: 5rem;
    justify-content: center;
    background-color: var(--background);
    border-top: var(--accent)1px solid;
  }