 /* :root[data-theme="light"] {
    --text: #0e1616;
    --background: #f9fbfb;
    --primary: #2d6b6c;
    --secondary: #7dd2d4;
    --accent: #37c6c8;
  } */
  :root
  /* [data-theme="dark"]  */
  {
    --text: #e9f1f1;
    --background: #040606;
    --primary: #93d1d2;
    --secondary: #2b8182;
    --accent: #37c6c8;
  }


header{
    color: var(--accent); 
    border-bottom: 1px solid var(--accent);
    font-size: 2.5rem;
    font-family: signpainter;
    justify-content: left;
    display: flex;
    
}

header h1:hover {
    color: var(--secondary);
    text-shadow: 1px 2px var(--primary) ;
    transition: 300ms;
}

img{
    width: 5rem;
    height: 5rem;
    margin: 0 1rem;
    border-radius: 2.5rem;
    border : 2px solid var(--accent);
    display: flex;
    margin-top: 2rem;
}

.title{
  display: flex;

}

@media only screen and (max-width: 600px) {
  img {
   display: none;
  }
}