  /* :root[data-theme="light"] {
    --text: #0e1616;
    --background: #f9fbfb;
    --primary: #2d6b6c;
    --secondary: #7dd2d4;
    --accent: #37c6c8;
  } */
  :root
  /* [data-theme="dark"]  */
  {
    --text: #e9f1f1;
    --background: #040606;
    --primary: #93d1d2;
    --secondary: #2b8182;
    --accent: #37c6c8;
  }
 

   .card{
    background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(255, 255, 255, 0.01);   

    list-style-type: none;
    display : inline-block;
    justify-content: left;

    color: var(--background);
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--accent); */
    padding: 1rem;
    margin: 1rem;
    min-height: 120px;
    width: 45%;
    border: var(--accent) 2px solid;
   }

   #BeatBrowser{
    /* background-image: url(../../assets/images/BB.png); */
    background-size: cover;
  }

  